.mock {
  height: 100vh;
  background: aqua;
  background-position: center;
  background-size: contain;
  background-image: url('./player-bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  background-size: cover;
  height: 100vh;
  background-image: url('./player-nrl.jpg');
}
