.call {
  text-align: center;
  min-height: 35vh;
}

.player-container {
  text-align: initial;
}

.button-group {
  padding: 20px;
}

.video-player {
  min-height: 35vh;
}

.call-form {
  padding: 20px;
}

input, button {
  margin-right: 10px;
}
